{{>header}}

<div class="container">
  <h2 class="text-center"> CURSOS DISPONIBLES </h2>

  <div class="row row-cols-3">
    {{#each curDisp}}
      <div class="col">
        <p class="d-grid col-12">
          <button class="btn btn-outline-success bg-light text-success btn-sm curinfo" type="button" data-bs-toggle="collapse" data-bs-target="#{{this.codeC}}" aria-expanded="true" aria-controls="{{this.codeC}}">
            <p>
              <span> Curso: </span> {{this.nombreC}}
              <span> Valor: </span> {{this.valorC}}
            </p>
          </button>
        </p>
        <div class="collapse" id="{{this.codeC}}">
          <div class="card card-body border-success border-2 mb-3">
            <span class="text-success"> CURSO: </span> {{this.nombreC}} <br/>
            <span class="text-success"> VALOR: </span> $ {{this.valorC}} <br/>
            <span class="text-success"> DESCRIPCIÓN: </span> {{this.detalleC}} <br/>
            <span class="text-success"> MODALIDAD: </span> {{this.modC}} <br/>
            <span class="text-success"> INTENSIDAD: </span> {{this.tiempoC}} horas <br/>
          </div>
        </div>
      </div>
    {{/each}}
  </div>

</div>

{{>footer}}
